*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-color: #136f7d;
  --second-color: #002c37;
}

section {
  padding: 100px;
}

#home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* ---- navbar section ---- */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index:1000;
  transition: 0.5s;
}

.logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--second-color);
  font-weight: 700;
}

ul {
  display: flex;
}

ul li a {
  padding: 10px 22px;
  color: var(--second-color);
  border-radius: 2px;
  font-weight: 600;
  letter-spacing: 1px;
}

ul li a:hover {
  background: var(--main-color);
  color: #ffffff;
  border: none;
}

.menu {
  display: flex;
}

/* ----- home section ----*/

.home-text {
  max-width: 500px;
  text-align: center;
}

.home-text h1 {
  color: var(--second-color);
  font-size: 3.5rem;
  font-weight:700;
  margin-bottom: 2.5rem;
  line-height: 5.5rem;
}

.home-text span {
  color: var(--main-color);
}

.home-img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.home-text a {
  padding: 12px 34px;
  background: var(--main-color);
  color: #ffffff;
  border-radius:10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.home-text a:hover {
  background: var(--second-color);
  box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
}

.social {
  position: absolute;
  display:flex;
  bottom:8%;
  left: 144px;
}

.social i{
  margin-right: 24px;
  font-size: 24px;
  color: var(--second-color);
}

.social i:hover {
  color: var(--main-color);
}

.heading {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.heading h2 {
  color: var(--second-color);
  border-bottom: 3px solid var(--second-color);
  font-size: 1.8rem;
}

.heading p {
  color: var(--second-color);
  margin-top: 0.5rem;
}

/* --- about section ----*/

.about-content {
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about-img {
  width: 100%;
  max-width: 320px;
  height: auto;
}

.about-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position:center;
}

.about-text {
  max-width: 500px;
  justify-content: center;
  text-align: center;
}

.about-text h1 {
  font-size: 1.5rem;
  color: var(--second-color);
}

.about-text p {
  color: var(psecond-color);
  margin: 5px 0 24px;
  text-align: justify;
  line-height: 1.8 rem;
}

.about-text a {
  padding: 12px 20px;
  background: var(--main-color);
  color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.about-text a:hover {
  background:var(--second-color);
  box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
}


/* -----  Programs Section-----*/

.services-content {
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.services-content .box {
  padding: 40px 20px;
  background: var(--second-color);
  color: #ffffff;
  max-width: 320px;
  margin: 16px;
  text-align: center;
  cursor: pointer;
}

.box a {
  color:#ffffff;
}
.box a:visited { 
  color: #8aed07}

.box img {
  height: 45px;
  margin-bottom: .75rem;
}
.box h1 {
  font-size: 1.3rem;
}

.box p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.services-content .box:hover {
  transform: translateY(-10px);
  background: var(--main-color);
  transition: 0.5s;
}


/*--- work section ----*/

.work-heading{
  margin-bottom: 2.5rem;
}

.work-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.work-text {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.work-text h1 {
  font-size: 1.5rem;
  color: var(--second-color);
  line-height: 2.4rem;
  letter-spacing: 1px;
}

.work-text p {
  font-size: 1rem;
  color: var(--second-color);
  line-height:  2rem;
  text-align: justify;
  margin: 5px 0px 18px;
}

.work-text a {
  padding: 12px 24px;
  background: var(--main-color);
  color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.work-text a:hover {
  background: var(--second-color);
  box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
}

.work-img {
  width: 100%;
  max-width: 320px;
  height: auto;
}

.work-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

/*----  Contact Section ----*/

.color h2 {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  font-size: 1.8rem;
}

.color p {
  color:#ffffff;
}

#contact {
  background: var(--second-color);
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-form {
  width: 100%;
  max-width: 360px;
  margin-top: 4rem;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  font-size: 13px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin-bottom: 12px;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  color: var(--second-color);
  letter-spacing: 1px;
}

.contact-form form textarea{
  height: 200px;
  resize: none;
}

.send-button {
  max-width: 100px;
  font-weight: 600;
  background: var(--main-color);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.feedback {
  color: #fff;
}

.app {
  max-width: 360px;
}

/* Not it use currently */
.app h1 {
  color: #ffff;
  font-size: 1.6rem;
  margin: 5px 0 24px;
}

.app i {
  color: var(--main-color);
  font-size: 45px;
  margin-right: 10px;
}

.app i:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
/* end app section */

.copyright {
  padding: 20px;
  background: var(--second-color);
  color: #fff;
  text-align:center;
}

/*---- Responsive Section ----*/

@media (max-width: 991px) {
  nav {
    padding: 10px 50px;
  }

  #home {
    padding: 50px 20px;
    flex-direction: column;
  }

  .home-text { 
    max-width: 100%;
    text-align: center;
  }

  .home-text h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .home-img {
    max-width: 100%;
    margin-top:  30px;
  }

  section {
    padding: 50px 20px;
  }

  .about-content,
  .services-content,
  .work-content,
  .contact-content {
    flex-direction: column;
  }

  .about-img,
  .work-img {
    max-width: 100%;
  }

  .about-text,
  .work-text,
  .services-content .box,
  .app {
    max-width:100%;
    margin-top: 30px;
  }
}

@media (max-width: 800px ) {
  nav {
    padding: 10px 20px;
  }
  section {
    padding: 30px 10px;
  }
}

@media (max-width:360px) {
  nav {
    padding: 10px 10px;
  }
  #homne {
    padding:20px 10px;
  }

  .home-text h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .about-text h1,
  .work-text h1 {
    font-size: 1.2rem;
  }

  .about-text p,
  .work-text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .toggle {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background: #fff;
  }

  .menu.active {
    display:flex;
  }

    .menu li {
      width:100%;
      text-align: center;
    }
  }


